body { background: #cb2f6; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 37px; display: flex; }
.block-config-0 { color: #f686a; font-size: 13px; margin-bottom: 5px; }
.block-filter-1 { color: #7d1ce8; font-size: 13px; margin-bottom: 5px; }
.block-shipping-2 { color: #3e8e62; font-size: 17px; margin-bottom: 5px; }
.block-user-3 { color: #dd4faf; font-size: 18px; margin-bottom: 5px; }
.block-email-4 { color: #7ce6ac; font-size: 20px; margin-bottom: 5px; }